# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Jupyter Notebooks
.ipynb_checkpoints

# Logs
logs/
*.log
nohup.out

# SQLite Database
*.sqlite3
*.db

# Flask Cache & Session Files
instance/
*.sqlite
*.sqlite3

# VS Code & JetBrains IDEs
.vscode/
.idea/

# OS-Specific
.DS_Store
Thumbs.db
